:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.1;
}

.success {
  color: #73d13d;
  font-size: 1rem;
}

.error {
  color: #f5222d;
  font-size: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  .success {
    color: #52c41a;
    font-size: 1rem;
  }
}
